name: CI/CD
run-name: ${{ github.actor }} is running the CI/CD pipeline
on: [push, pull_request]
jobs:
  run-linter:
    # Name the job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest
    
    ############################################
    # Grant status permission for MULTI_STATUS #
    ############################################
    permissions:
      contents: read
      packages: read
      statuses: write
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper
          # list of changed files within super-linter
          fetch-depth: 0
        
      - name: Lint the code base
        uses: super-linter/super-linter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    
