name: CI/CD v2
run-name: CI/CD v2 run
on: [push, pull_request]
jobs:
  lint-javascript:
    name: Lint JavaScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
      - name: Install Standard Style
        run: npm install standard --global
      - name: Run Standard Styler linter
        run: standard
  lint-html-css:
    name: Lint HTML & CSS
    runs-on: ubuntu-latest

    ############################################
    # Grant status permission for MULTI_STATUS #
    ############################################
    permissions:
      contents: read
      packages: read
      statuses: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - name: Lint HTML and CSS
        uses: super-linter/super-linter/slim@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_HTML: true
          VALIDATE_CSS: true
  create-documentation:
    name: Create JSDocs
    needs: lint-javascript
    runs-on: ubuntu-latest
    
    permissions:
      # Lets this job push the docs to the repository
      contents: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Write Documentation
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./src
          recurse: true
          output_dir: ./out
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
      
    
